<!-- Modal for Mid-term Comment (on Browse APE) -->
<!-- <div class="modal fade modal-primary" id="aepCommentMdl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
<div class="modal" id="aepCommentMdl">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="card card-login card-plain">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="modal-close-icon">&times;</span>
          </button>

          <div class="header header-primary text-center">
            <h5 class="aep-modalTitle"></h5>
          </div>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="aep-comment"></div>
            <div class="aep-comment-error font-weight-bold"></div>
          </div>

          <div class="text-center modal-footer-wrapper">
            <div class="row">
              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-fill btn-small btn-default" id="aepCommentMdl-close-btn">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {});
</script>
