<!-- Modal for What do scores mean (on Browse APE) -->
<!-- <div class="modal fade modal-primary" id="aepScoresMdl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
<div class="modal" id="aepScoresMdl">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="card card-login card-plain">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="modal-close-icon">&times;</span>
          </button>

          <div class="header header-primary text-center">
            AEP achievement score explanatory notes:
          </div>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div>1 - Student is not meeting the expectations of the course.</div>
            <div>2 - Student is Progressing in the course.</div>
            <div>3 - Student is almost meeting the expectations of the course.</div>
            <div>4 - Student is meeting the expectations of the course.</div>
          </div>

          <div class="text-center modal-footer-wrapper">
            <div class="row">
              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-fill btn-small btn-default" id="aepScoresMdl-close-btn">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
  });
</script>