<body class="login-page">
  <div class="wrapper wrapper-full-page ">
    <div class="full-page">
      <div class="content">
        <div class="text-center"><img src="assets/img/logo.png" alt="logo" class="login-logo" /></div>
        <div class="container">
          <div class="col-lg-6 col-md-6 ml-auto mr-auto">
              <div class="card card-login login-card-border">
                <div class="card-header ">
                  <div class="card-header ">
                    <h3 class="header text-center login-title">Bodwell Student Portal</h3>
                    <h4 class=" text-center text-reset">Reset Password</h4>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-badge"></i>
                      </span>
                    </div>
                    <input name="studentId" type="number" class="form-control rp-studentId" placeholder="Student ID">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-calendar-60"></i>
                      </span>
                    </div>
                    <input name="dob" type="text" placeholder="Date Of Birth" class="form-control datepicker rp-dob" data-date-format="YYYY-MM-DD"
                      value="">
                  </div>
                </div>
                <div class="card-footer ">
                  <button class="btn btn-danger btn-round btn-block mb-3 btn-request">Submit</button>
                  <a href="?page=login" class="btn btn-default btn-round btn-block mb-3">
                    <span class="icon-btl"><i class="nc-icon nc-minimal-left"></i></span>Back to login</a>
                </div>
              </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, Bodwell High School. All rights reserved. v1.0.6
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      demo.initDateTimePicker();
        $('.btn-request').click(function(event) {
          requestReset();
        });
    });

  </script>
  <style media="screen">
    .bootstrap-datetimepicker-widget .datepicker-years thead .picker-switch {
     cursor: default;
     pointer-events: none;
    }
    .bootstrap-datetimepicker-widget table td span{
      font-size:14px;
    }

  </style>
