<!-- Modal for School Activity enroll confirmation(on Browse School Activities) -->
<!-- <div class="modal fade modal-primary" id="enrForbModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true"> -->
<div class="modal" id="enrForbModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card card-login card-plain">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="header header-primary text-center">
            <h4 class="actDetailModal-title">Escape / Pizza Party</h4>
          </div>
        </div>
        <div class="modal-body">
          <div class="card-body text-center">
            <span>You already have applied this activity. Check Your Participation Hours</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
