<!-- Modal for School Activity enroll confirmation(on Browse School Activities) -->
<!-- <div class="modal fade modal-primary" id="enrConfModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true"> -->
<div class="modal" id="enrConfModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card card-login card-plain">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <input type="hidden" class="joinActivityId" name="joinActivityId" value="">
          <div class="header header-primary text-center">
            <h4 class="actDetailModal-title">Escape / Pizza Party</h4>
          </div>
        </div>
        <div class="modal-body">
          <div class="card-body text-center">
            <p>Are you sure you want to join this activity? </p>
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-success custom-btn actDetail-join-btn" id="actDetail-join-btn">Apply</button>
            <button class="btn btn-default custom-btn" id="enrConf-cancel-btn">Close</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>